<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="dashboard">
            <h2><span>Dashboard</span> {{dashboard.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Zeitstempel</span></dt>
                <dd>
                    <span>{{dashboard.zeitstempel}}</span>
                </dd>
                <dt><span>Titel</span></dt>
                <dd>
                    <span>{{dashboard.titel}}</span>
                </dd>
                <dt><span>Nachricht</span></dt>
                <dd>
                    <span>{{dashboard.nachricht}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/dashboard', dashboard.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
