<div>
    <h2 id="page-heading">
        <span>Arbeitsbelegs</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-arbeitsbeleg" [routerLink]="['/arbeitsbeleg/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Arbeitsbeleg
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="arbeitsbelegs">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Objekt Nummer</span></th>
            <th><span>Datum Leistung</span></th>
            <th><span>Status</span></th>
            <th><span>Arbeitsbeleg</span></th>
            <th><span>User</span></th>
            <th><span>Termin</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let arbeitsbeleg of arbeitsbelegs ;trackBy: trackId">
                <td><a [routerLink]="['/arbeitsbeleg', arbeitsbeleg.id, 'view' ]">{{arbeitsbeleg.id}}</a></td>
                <td>{{arbeitsbeleg.objektNummer}}</td>
                <td>{{arbeitsbeleg.datumLeistung | date:'mediumDate'}}</td>
                <td>{{arbeitsbeleg.status}}</td>
                <td>
                    <a *ngIf="arbeitsbeleg.arbeitsbeleg" (click)="openFile(arbeitsbeleg.arbeitsbelegContentType, arbeitsbeleg.arbeitsbeleg)">open</a>
                    <span *ngIf="arbeitsbeleg.arbeitsbeleg">{{arbeitsbeleg.arbeitsbelegContentType}}, {{byteSize(arbeitsbeleg.arbeitsbeleg)}}</span>
                </td>
                <td>
                    {{arbeitsbeleg.user?.id}}
                </td>
                <td>
                    <div *ngIf="arbeitsbeleg.termin">
                        <a [routerLink]="['../tbl-termine', arbeitsbeleg.termin?.id, 'view' ]" >{{arbeitsbeleg.termin?.terObjektNr}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/arbeitsbeleg', arbeitsbeleg.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/arbeitsbeleg', arbeitsbeleg.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'arbeitsbeleg/'+ arbeitsbeleg.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
