<div>
    <h2 id="page-heading">
        <span>Abnahmeprotokolls</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-abnahmeprotokoll" [routerLink]="['/abnahmeprotokoll/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Abnahmeprotokoll
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="abnahmeprotokolls">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Objekt Nummer</span></th>
            <th><span>Datum Leistung</span></th>
            <th><span>Firma</span></th>
            <th><span>Kunde Asp</span></th>
            <th><span>Firma Asp</span></th>
            <th><span>Sise</span></th>
            <th><span>Zusatzleistungen</span></th>
            <th><span>Antenne</span></th>
            <th><span>Gprs Signal</span></th>
            <th><span>Alarm Test</span></th>
            <th><span>Alarm Bemerkung</span></th>
            <th><span>Ort</span></th>
            <th><span>Datum</span></th>
            <th><span>Abn Protokoll</span></th>
            <th><span>User</span></th>
            <th><span>Abnahmeprotokoll</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let abnahmeprotokoll of abnahmeprotokolls ;trackBy: trackId">
                <td><a [routerLink]="['/abnahmeprotokoll', abnahmeprotokoll.id, 'view' ]">{{abnahmeprotokoll.id}}</a></td>
                <td>{{abnahmeprotokoll.objektNummer}}</td>
                <td>{{abnahmeprotokoll.datumLeistung | date:'mediumDate'}}</td>
                <td>{{abnahmeprotokoll.firma}}</td>
                <td>{{abnahmeprotokoll.kundeAsp}}</td>
                <td>{{abnahmeprotokoll.firmaAsp}}</td>
                <td>{{abnahmeprotokoll.sise}}</td>
                <td>{{abnahmeprotokoll.zusatzleistungen}}</td>
                <td>{{abnahmeprotokoll.antenne}}</td>
                <td>{{abnahmeprotokoll.gprsSignal}}</td>
                <td>{{abnahmeprotokoll.alarmTest}}</td>
                <td>{{abnahmeprotokoll.alarmBemerkung}}</td>
                <td>{{abnahmeprotokoll.ort}}</td>
                <td>{{abnahmeprotokoll.datum | date:'mediumDate'}}</td>
                <td>
                    <a *ngIf="abnahmeprotokoll.abnProtokoll" (click)="openFile(abnahmeprotokoll.abnProtokollContentType, abnahmeprotokoll.abnProtokoll)">open</a>
                    <span *ngIf="abnahmeprotokoll.abnProtokoll">{{abnahmeprotokoll.abnProtokollContentType}}, {{byteSize(abnahmeprotokoll.abnProtokoll)}}</span>
                </td>
                <td>
                    {{abnahmeprotokoll.user?.id}}
                </td>
                <td>
                    <div *ngIf="abnahmeprotokoll.abnahmeprotokoll">
                        <a [routerLink]="['../tbl-termine', abnahmeprotokoll.abnahmeprotokoll?.id, 'view' ]" >{{abnahmeprotokoll.abnahmeprotokoll?.objektNummer}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/abnahmeprotokoll', abnahmeprotokoll.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/abnahmeprotokoll', abnahmeprotokoll.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'abnahmeprotokoll/'+ abnahmeprotokoll.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
