<div>
    <h2 id="page-heading">
        <span>Tbl Asps</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-tbl-asp" [routerLink]="['/tbl-asp/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Tbl Asp
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="tblAsps">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="aspId"><span>Asp Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="aspName"><span>Asp Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="aspRolle"><span>Asp Rolle</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="aspTel1"><span>Asp Tel 1</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="aspMobil1"><span>Asp Mobil 1</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="aspEmail"><span>Asp Email</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="aspObjektNrRef"><span>Asp Objekt Nr Ref</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="aspBemerkung"><span>Asp Bemerkung</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="kunde.verObjektNr"><span>Kunde</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="siemens.tndObjNr"><span>Siemens</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let tblAsp of tblAsps ;trackBy: trackId">
                <td><a [routerLink]="['/tbl-asp', tblAsp.id, 'view' ]">{{tblAsp.id}}</a></td>
                <td>{{tblAsp.aspId}}</td>
                <td>{{tblAsp.aspName}}</td>
                <td>{{tblAsp.aspRolle}}</td>
                <td>{{tblAsp.aspTel1}}</td>
                <td>{{tblAsp.aspMobil1}}</td>
                <td>{{tblAsp.aspEmail}}</td>
                <td>{{tblAsp.aspObjektNrRef}}</td>
                <td>{{tblAsp.aspBemerkung}}</td>
                <td>
                    <div *ngIf="tblAsp.kunde">
                        <a [routerLink]="['../tbl-vertrag', tblAsp.kunde?.id, 'view' ]" >{{tblAsp.kunde?.verObjektNr}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="tblAsp.siemens">
                        <a [routerLink]="['../tnd-siemens', tblAsp.siemens?.id, 'view' ]" >{{tblAsp.siemens?.tndObjNr}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/tbl-asp', tblAsp.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/tbl-asp', tblAsp.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'tbl-asp/'+ tblAsp.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
